/*Body properties*/

body{
	background-color: #f7f7ef;
	width: auto;
}

/*class properties*/
.container{
	position: relative;
	text-align: center;
	color: black;
}
.centered{
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.header{
		font-family: 'Big Shoulders Inline Text', cursive;
		font-size: 4vw;
		overflow: hidden;
    	white-space: nowrap;
    	text-align: center;
}
/*Id properties*/


/*Buttons*/
.button{
	  border: none;
	  color: white;
	  padding: 0.5% 0.5%;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 1.5vw;
	  outline: none;
	  transition-duration: 0.4s;
	  cursor: pointer;
	  font-family: 'Imbue', serif;
	  text-transform: uppercase;
}
.button1{
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #6CA0D2;
	color: white;
	border: 2px solid white;
	border-radius: 25px;
	font-family: 'Imbue', serif;
}
.button1:hover{
	background-color:#6CA0D2;
	color: black;
	border: 2px solid white;
}

.button2{
	position: absolute;
	top: 20%;
	left: 5%;
	transform: translate(-50%, -50%);
	background-color: transparent;
	color: black;
}
.button2:hover{
	background-color: transparent;
	color: #FF4433;
}
.button3{
	position: absolute;
	top: 20%;
	left: 95%;
	transform: translate(-50%, -50%);
	background-color: transparent;
	color: black;
}
.button3:hover{
	background-color: transparent;
	color: #FF4433;
}
.button4{
	position: absolute;
	top: 100%;
	left: 5%;
	transform: translate(-50%, -50%);
	background-color: #6CA0D2;
	color: white;
	border: 2px solid white;
	border-radius: 25px;
	font-family: 'Imbue', serif;
}
.button4:hover{
	background-color:#6CA0D2;
	color: black;
	border: 2px solid white;
}
.button5{
position: absolute;
	top: 100%;
	left: 95%;
	transform: translate(-50%, -50%);
	background-color: #6CA0D2;
	color: white;
	border: 2px solid white;
	border-radius: 25px;
	font-family: 'Imbue', serif;	
}
.button5:hover{
	background-color:#6CA0D2;
	color: black;
	border: 2px solid white;
}
/*header properties*/
header{
	border-radius: 10px;
}
header img{
	border-radius: 10px;
	max-width: 100%;
	height: auto;
	size: 100vw;
}
/*main properties*/

